*.class
*.log

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# IDE specific
.idea
*.iml
.scala_dependencies
.worksheet
.clover

# Mac specific
.DS_Store

# Project specific
*.dot
*.png
jenkinsPipeline.txt
pom_collection/

